#blog-description {
  border: 1px solid black;
  width: 100%;
  margin-bottom: 10px;
  border-spacing: 0px;
}
#blog-description-header > th{
  color: darkred;
  font-family: Merriweather;
  border-bottom: 1px dashed black;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 1.2em;
}

#blog-description-content > td,
#blog-description-info > td {
  text-align: justify;
  border-bottom: 1px dashed black;
  font-size: 1.05em;
  padding-left: 1%;
  padding-right: 1%;
}

#blog-description-info > td > a {
  text-decoration: none;
  color: blue;
}

#blog-description:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}