@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100%;
    margin: 0px;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

body {
    box-sizing: border-box;
    min-height: 100%;
    padding: 60px 0px 60px 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    /*border-left: 1px solid gray;*/
    /*border-right: 1px solid gray;*/
    padding: 0px 10px;
    width: 100%;
    min-height: 100%;
    max-width: 700px;
    padding-bottom: 20px;
}


#header {
    display: flex;
    align-items: center;

    h1 {
        color: #690002;
        margin: 0px;
        padding: 5px 0px;
        text-align: left;
    }


    font-family: Alegreya;
    border-bottom: 1px solid black;
}


#menu {
    display: flex;
    justify-content: end;
    width: 100%;

    a {
        text-decoration: none;
    }

    button {
        background-color: transparent;
        border: none;
        padding: 0px;
        border-radius: 5px;
        font-size: 1rem;
        text-align: right;
        color: blue;
        height: 25px;
        min-width: 100px;
        font-family: Alegreya;
    }

    button:hover {
        color: black;
        font-weight: bold;
    }

    span {
        font-weight: bold;
        display: none;
    }
}

#container {
    font-family: "Lora", serif;
    font-size: 0.9rem;
    text-align: justify;
}

/*
figure {
    display: flex;
    justify-content: center;
    img {
        width: 400px;
    }
} */
